page {
  background-color: #f6f6f6;
  color: #252525;
  font-size: 32rpx;
  font-family: -apple-system, BlinkMacSystemFont, 'Helvetica Neue', Helvetica,
    Segoe UI, Arial, Roboto, 'PingFang SC', 'miui', 'Hiragino Sans GB',
    'Microsoft Yahei', sans-serif;
  scroll-behavior: smooth;
  -webkit-text-size-adjust: none;
  -webkit-font-smoothing: antialiased;
  font-feature-settings: 'tnum';
  overflow-x: hidden;
}
// 背景页面统一包裹类
.page-wrapper {
  position: relative;
  box-sizing: border-box;
  padding-bottom: calc(24rpx + env(safe-area-inset-bottom));
}
// 自定义 tab-bar
.page-wrapper.is-custom-tab-bar {
  /* #ifdef MP-WEIXIN */
  padding-bottom: calc(24rpx + 106rpx + env(safe-area-inset-bottom));
  /* #endif */
}
// fix布局适配iphone的底部Home Indicator
.iphone-inset-bottom--fixed {
  position: fixed;
  right: 0;
  bottom: 0;
  width: 100%;
  background: #fff;
  padding-bottom: env(safe-area-inset-bottom);
  z-index: 7;
}
// 默认的 view hover 效果
.hover-class {
  background: #f2f3f5 !important;
}
// 默认的 navigator hover 效果
.navigator-hover {
  background: none;
}
.is-gray {
  filter: grayscale(100%);
}
// 表单公共样式
// input 默认 placeholder 的样式类
.input-placeholder,
.textarea-placeholder {
  color: #909090;
  font-size: 32rpx;
  font-weight: 400;
}
// 块元素垂直间隙占位
.gap {
  height: 24rpx;
}
.gap--top::before {
  content: '';
  display: block;
  height: 24rpx;
}
