$directions: up, down, left, right;
$effects: fade, slide;
$actions: enter, leave;

.vc-transition {
  transition-timing-function: ease;
  -webkit-overflow-scrolling: none;
  touch-action: none;
}
.vc-fade-enter-active,
.vc-fade-leave-active {
  transition-property: opacity;
}
.vc-fade-enter,
.vc-fade-leave-to {
  opacity: 0;
}

@each $direction in $directions {
  @each $action in $actions {
    @each $effect in $effects {
      .vc-#{$effect}-#{$direction}-#{$action}-active {
        @if $effect == 'fade' {
          transition-property: opacity, transform;
        } @else if $effect == 'slide' {
          transition-property: transform;
        }
      }

      .vc-#{$effect}-#{$direction}-enter,
      .vc-#{$effect}-#{$direction}-leave-to {
        @if $direction == 'up' {
          transform: translate3d(0, 100%, 0);
        } @else if $direction == 'down' {
          transform: translate3d(0, -100%, 0);
        } @else if $direction == 'left' {
          transform: translate3d(-100%, 0, 0);
        } @else if $direction == 'right' {
          transform: translate3d(100%, 0, 0);
        }
      }
    }
  }
}
