@use 'sass:map';
@use 'sass:math';

@use '../mixins/functions' as *;

// Color
$colors: () !default;
$colors: map.deep-merge(
  (
    'white': #ffffff,
    'black': #000000,
    'primary': (
      'base': #00bcd4,
    ),
    'success': (
      'base': #67c23a,
    ),
    'warning': (
      'base': #e6a23c,
    ),
    'danger': (
      'base': #f56c6c,
    ),
    'error': (
      'base': #f56c6c,
    ),
    'info': (
      'base': #909399,
    ),
  ),
  $colors
);

$color-white: map.get($colors, 'white') !default;
$color-black: map.get($colors, 'black') !default;
$color-primary: map.get($colors, 'primary', 'base') !default;
$color-success: map.get($colors, 'success', 'base') !default;
$color-warning: map.get($colors, 'warning', 'base') !default;
$color-danger: map.get($colors, 'danger', 'base') !default;
$color-error: map.get($colors, 'error', 'base') !default;
$color-info: map.get($colors, 'info', 'base') !default;

// https://sass-lang.com/documentation/values/maps#immutability
// mix colors with white/black to generate light/dark level
@mixin set-color-mix-level(
  $type,
  $number,
  $mode: 'light',
  $mix-color: $color-white
) {
  $colors: map.deep-merge(
    (
      $type: (
        '#{$mode}-#{$number}':
          mix(
            $mix-color,
            map.get($colors, $type, 'base'),
            math.percentage(math.div($number, 10))
          ),
      ),
    ),
    $colors
  ) !global;
}

// lightness type color
@each $type in (primary, success, warning, error, info) {
  @for $i from 1 through 9 {
    @include set-color-mix-level($type, $i, 'light', $color-white);
  }
}

$text-color: () !default;
$text-color: map.merge(
  (
    'primary': #1e1e1e,
    'regular': #606266,
    'secondary': #909399,
    'placeholder': #a8abb2,
    'disabled': #c0c4cc,
  ),
  $text-color
);

// Typography
$font-size: () !default;
$font-size: map.merge(
  (
    'base': 16px,
    'small': 14px,
    'smaller': 12px,
    'large': 18px,
    'larger': 20px,
  ),
  $font-size
);

$font-weight: () !default;
$font-weight: map.merge(
  (
    '': 400,
    'light': 300,
    'lighter': 200,
    'bold': 500,
    'bolder': 600,
  ),
  $font-weight
);

// Background
$bg-color: () !default;
$bg-color: map.merge(
  (
    '': #ffffff,
    'page': #f8f8f8,
    'active': #fafcff,
    'disabled': #fafafa,
  ),
  $bg-color
);

// Border
$border-style: solid !default;
$border-width: 2rpx !default;

$border-color: () !default;
$border-color: map.merge(
  (
    '': #d0d0d0,
    'light': #e4e7ed,
    'lighter': #ebeef5,
  ),
  $border-color
);

$border-radius: () !default;
$border-radius: map.merge(
  (
    'base': 4px,
    'round': 2em,
    'circle': 100%,
  ),
  $border-radius
);

// Button
$button: () !default;
$button: map.merge(
  (
    'border-radius': 4px,
    'bg-color': getCssVar('bg-color'),
    'border-color': getCssVar('border-color'),
    'text-color': getCssVar('text-color', 'regular'),
    'disabled-bg-color': getCssVar('bg-color', 'disabled'),
    'disabled-border-color': getCssVar('border-color', 'lighter'),
    'disabled-text-color': getCssVar('text-color', 'disabled'),
    'active-border-color': getCssVar('border-color', 'light'),
    'active-bg-color': getCssVar('bg-color', 'active'),
  ),
  $button
);

$button-font-size: () !default;
$button-font-size: map.merge(
  (
    '': getCssVar('font-size', 'base'),
    'small': getCssVar('font-size', 'small'),
    'large': getCssVar('font-size', 'base'),
  ),
  $button-font-size
);

$button-padding-vertical: () !default;
$button-padding-vertical: map.merge(
  (
    '': 14px,
    'small': 10px,
    'large': 18px,
  ),
  $button-padding-vertical
);

$button-padding-horizontal: () !default;
$button-padding-horizontal: map.merge(
  (
    '': 16px,
    'small': 12px,
    'large': 20px,
  ),
  $button-padding-horizontal
);

// Cell
$cell: () !default;
$cell: map.merge(
  (
    'min-title-width': 80px,
    'value-left-offset': 12px,
    'bg-color': getCssVar('bg-color'),
    'border-color': getCssVar('border-color'),
    'title-color': getCssVar('text-color', 'primary'),
    'text-color': getCssVar('text-color', 'secondary'),
    'hover-bg-color': getCssVar('bg-color', 'active'),
    'disabled-bg-color': getCssVar('bg-color', 'disabled'),
    'disabled-border-color': getCssVar('border-color', 'lighter'),
    'disabled-title-color': getCssVar('text-color', 'secondary'),
    'disabled-text-color': getCssVar('text-color', 'disabled'),
  ),
  $cell
);
$cell-font-size: () !default;
$cell-font-size: map.merge(
  (
    '': getCssVar('font-size', 'base'),
    'small': getCssVar('font-size', 'small'),
    'large': getCssVar('font-size', 'base'),
  ),
  $cell-font-size
);

$cell-padding-vertical: () !default;
$cell-padding-vertical: map.merge(
  (
    '': 14px,
    'small': 10px,
    'large': 18px,
  ),
  $cell-padding-vertical
);

$cell-padding-horizontal: () !default;
$cell-padding-horizontal: map.merge(
  (
    '': 16px,
    'small': 16px,
    'large': 16px,
  ),
  $cell-padding-horizontal
);

// Image
$image: () !default;
$image: map.merge(
  (
    'min-title-width': 80px,
    'value-left-offset': 12px,
    'bg-color': getCssVar('bg-color', 'active'),
    'text-color': getCssVar('text-color', 'secondary'),
  ),
  $image
);

// Popup
$popup: () !default;
$popup: map.merge(
  (
    'header-height': 112rpx,
    'padding': 32rpx,
    'title-color': getCssVar('text-color', 'primary'),
    'bg-color': getCssVar('bg-color'),
    'border-radius-center': 20rpx,
    'border-radius-top': 0 0 20rpx 20rpx,
    'border-radius-bottom': 20rpx 20rpx 0 0,
    'border-radius-left': 0 20rpx 20rpx 0,
    'border-radius-right': 20rpx 0 0 20rpx,
  ),
  $popup
);

// Checkbox
$checkbox: () !default;
$checkbox: map.merge(
  (
    'icon-color': getCssVar('text-color', 'secondary'),
    'active-icon-color': getCssVar('color', 'primary'),
    'disabled-icon-color': getCssVar('text-color', 'disabled'),
    'text-color': getCssVar('text-color', 'secondary'),
    'disabled-text-color': getCssVar('text-color', 'disabled'),
    'text-left-offset': 8px,
  ),
  $checkbox
);

// Radio
$radio: () !default;
$radio: map.merge(
  (
    'icon-color': getCssVar('text-color', 'secondary'),
    'active-icon-color': getCssVar('color', 'primary'),
    'disabled-icon-color': getCssVar('text-color', 'disabled'),
    'text-color': getCssVar('text-color', 'secondary'),
    'disabled-text-color': getCssVar('text-color', 'disabled'),
    'text-left-offset': 8px,
  ),
  $radio
);
