@use 'sass:map';
@use 'sass:math';

@use '../mixins/function' as *;

// Color
$colors: () !default;
$colors: map.deep-merge(
  (
    'white': #ffffff,
    'black': #000000,
    'primary': (
      'base': #00bcd4,
    ),
    'success': (
      'base': #67c23a,
    ),
    'warning': (
      'base': #e6a23c,
    ),
    'danger': (
      'base': #f56c6c,
    ),
    'error': (
      'base': #f56c6c,
    ),
    'info': (
      'base': #909399,
    ),
  ),
  $colors
);

$color-white: map.get($colors, 'white') !default;
$color-black: map.get($colors, 'black') !default;
$color-primary: map.get($colors, 'primary', 'base') !default;
$color-success: map.get($colors, 'success', 'base') !default;
$color-warning: map.get($colors, 'warning', 'base') !default;
$color-danger: map.get($colors, 'danger', 'base') !default;
$color-error: map.get($colors, 'error', 'base') !default;
$color-info: map.get($colors, 'info', 'base') !default;

// https://sass-lang.com/documentation/values/maps#immutability
// mix colors with white/black to generate light/dark level
@mixin set-color-mix-level(
  $type,
  $number,
  $mode: 'light',
  $mix-color: $color-white
) {
  $colors: map.deep-merge(
    (
      $type: (
        '#{$mode}-#{$number}':
          mix(
            $mix-color,
            map.get($colors, $type, 'base'),
            math.percentage(math.div($number, 10))
          ),
      ),
    ),
    $colors
  ) !global;
}

// lightness type color
@each $type in (primary, success, warning, error, info) {
  @for $i from 1 through 9 {
    @include set-color-mix-level($type, $i, 'light', $color-white);
  }
}

// Typography
$font-size: () !default;
$font-size: map.merge(
  (
    'base': 16px,
    'small': 14px,
    'smaller': 12px,
    'mini': 10px,
    'large': 18px,
    'larger': 20px,
  ),
  $font-size
);

$font-weight: () !default;
$font-weight: map.merge(
  (
    '': 400,
    'light': 300,
    'lighter': 200,
    'bold': 500,
    'bolder': 600,
  ),
  $font-weight
);

// Text color
$text-color: () !default;
$text-color: map.merge(
  (
    'primary': #1e1e1e,
    'regular': #606266,
    'secondary': #909399,
    'placeholder': #a8abb2,
    'disabled': #c0c4cc,
  ),
  $text-color
);

// Background
$bg-color: () !default;
$bg-color: map.merge(
  (
    '': #ffffff,
    'page': #f8f8f8,
    'active': #fafcff,
    'hover': #f9f9f9,
    'disabled': #fafafa,
  ),
  $bg-color
);

// Border
$border-style: solid !default;
$border-width: 2rpx !default;

$border-color: () !default;
$border-color: map.merge(
  (
    '': #d0d0d0,
    'light': #e4e7ed,
    'lighter': #ebeef5,
  ),
  $border-color
);

$border-radius: () !default;
$border-radius: map.merge(
  (
    'small': 4px,
    'base': 8px,
    'large': 12px,
    'round': 2em,
    'circle': 100%,
  ),
  $border-radius
);

// Box-shadow
$box-shadow: () !default;
$box-shadow: map.merge(
  (
    '': (
      0px 12px 32px 4px rgba(0, 0, 0, 0.04),
      0px 8px 20px rgba(0, 0, 0, 0.08),
    ),
    'light': (
      0px 0px 12px rgba(0, 0, 0, 0.12),
    ),
    'lighter': (
      0px 0px 6px rgba(0, 0, 0, 0.12),
    ),
    'dark': (
      0px 16px 48px 16px rgba(0, 0, 0, 0.08),
      0px 12px 32px rgba(0, 0, 0, 0.12),
      0px 8px 16px -8px rgba(0, 0, 0, 0.16),
    ),
  ),
  $box-shadow
);

// Padding
$padding-vertical: () !default;
$padding-vertical: map.merge(
  (
    '': 28rpx,
    'small': 20rpx,
    'large': 36rpx,
  ),
  $padding-vertical
);
$padding-horizontal: () !default;
$padding-horizontal: map.merge(
  (
    '': 32rpx,
    'small': 24rpx,
    'large': 40rpx,
  ),
  $padding-horizontal
);

// Transition
$transition-duration: () !default;
$transition-duration: map.merge(
  (
    '': 0.3s,
    'fast': 0.2s,
  ),
  $transition-duration
);

$transition-function: () !default;
$transition-function: map.merge(
  (
    'ease-in-out-bezier': cubic-bezier(0.645, 0.045, 0.355, 1),
    'fast-bezier': cubic-bezier(0.23, 1, 0.32, 1),
  ),
  $transition-function
);

$transition: () !default;
$transition: map.merge(
  (
    'all': all getCssVar('transition-duration')
      getCssVar('transition-function-ease-in-out-bezier'),
    'fade': opacity getCssVar('transition-duration')
      getCssVar('transition-function-fast-bezier'),
    'md-fade': (
      transform getCssVar('transition-duration')
        getCssVar('transition-function-fast-bezier'),
      opacity getCssVar('transition-duration')
        getCssVar('transition-function-fast-bezier'),
    ),
    'fade-linear': opacity getCssVar('transition-duration-fast') linear,
    'border': border-color getCssVar('transition-duration-fast')
      getCssVar('transition-function-ease-in-out-bezier'),
    'box-shadow': box-shadow getCssVar('transition-duration-fast')
      getCssVar('transition-function-ease-in-out-bezier'),
    'color': color getCssVar('transition-duration-fast')
      getCssVar('transition-function-ease-in-out-bezier'),
  ),
  $transition
);

// overlay
$overlay-color: () !default;
$overlay-color: map.merge(
  (
    '': rgba(0, 0, 0, 0.8),
    'light': rgba(0, 0, 0, 0.7),
    'lighter': rgba(0, 0, 0, 0.5),
  ),
  $overlay-color
);

// mask
$mask-color: () !default;
$mask-color: map.merge(
  (
    '': rgba(255, 255, 255, 0.9),
    'extra-light': rgba(255, 255, 255, 0.3),
  ),
  $mask-color
);

// zIndex
$z-index: () !default;
$z-index: map.merge(
  (
    'normal': 1,
    'top': 1000,
    'popper': 2000,
  ),
  $z-index
);

// Disable default
$disabled: () !default;
$disabled: map.merge(
  (
    'bg-color': getCssVar('bg-color', 'disabled'),
    'text-color': getCssVar('text-color', 'placeholder'),
    'border-color': getCssVar('border-color', 'light'),
  ),
  $disabled
);

$component-size: () !default;
$component-size: map.merge(
  (
    'large': 48px,
    'default': 40px,
    'small': 32px,
  ),
  $component-size
);

/*
 *  ┌─────────────────────────────────────────────────────────────┐
 *  │┌───┬───┬───┬───┬───┬───┬───┬───┬───┬───┬───┬───┬───┬───┬───┐│
 *  ││Esc│!1 │@2 │#3 │$4 │%5 │^6 │&7 │*8 │(9 │)0 │_- │+= │|\ │`~ ││
 *  │├───┴─┬─┴─┬─┴─┬─┴─┬─┴─┬─┴─┬─┴─┬─┴─┬─┴─┬─┴─┬─┴─┬─┴─┬─┴─┬─┴───┤│
 *  ││ Tab │ Q │ W │ E │ R │ T │ Y │ U │ I │ O │ P │{[ │}] │ BS  ││
 *  │├─────┴┬──┴┬──┴┬──┴┬──┴┬──┴┬──┴┬──┴┬──┴┬──┴┬──┴┬──┴┬──┴─────┤│
 *  ││ Ctrl │ A │ S │ D │ F │ G │ H │ J │ K │ L │: ;│" '│ Enter  ││
 *  │├──────┴─┬─┴─┬─┴─┬─┴─┬─┴─┬─┴─┬─┴─┬─┴─┬─┴─┬─┴─┬─┴─┬─┴────┬───┤│
 *  ││ Shift  │ Z │ X │ C │ V │ B │ N │ M │< ,│> .│? /│Shift │Fn ││
 *  │└─────┬──┴┬──┴──┬┴───┴───┴───┴───┴───┴──┬┴───┴┬──┴┬─────┴───┘│
 *  │      │Fn │ Alt │         Space         │ Alt │Win│          │
 *  │      └───┴─────┴───────────────────────┴─────┴───┘          │
 *  └─────────────────────────────────────────────────────────────┘
 */

// Components
// button
$button: () !default;
$button: map.merge(
  (
    'padding': getCssVar('padding-vertical') getCssVar('padding-horizontal'),
    'border-radius': getCssVar('border-radius', 'small'),
    'bg-color': getCssVar('bg-color'),
    'border-color': getCssVar('border-color'),
    'text-color': getCssVar('text-color', 'primary'),
    'disabled-bg-color': getCssVar('bg-color', 'disabled'),
    'disabled-border-color': getCssVar('border-color', 'lighter'),
    'disabled-text-color': getCssVar('text-color', 'disabled'),
    'active-border-color': getCssVar('border-color', 'light'),
    'active-bg-color': getCssVar('bg-color', 'active'),
  ),
  $button
);

$button-font-size: () !default;
$button-font-size: map.merge(
  (
    '': getCssVar('font-size', 'base'),
    'small': getCssVar('font-size', 'small'),
    'large': getCssVar('font-size', 'base'),
  ),
  $button-font-size
);

$button-padding-vertical: () !default;
$button-padding-vertical: map.merge(
  (
    '': getCssVar('padding-vertical'),
    'small': getCssVar('padding-vertical', 'small'),
    'large': getCssVar('padding-vertical', 'large'),
  ),
  $button-padding-vertical
);

$button-padding-horizontal: () !default;
$button-padding-horizontal: map.merge(
  (
    '': getCssVar('padding-horizontal'),
    'small': getCssVar('padding-horizontal', 'small'),
    'large': getCssVar('padding-horizontal', 'large'),
  ),
  $button-padding-horizontal
);

// cell
$cell: () !default;
$cell: map.merge(
  (
    'min-title-width': 80px,
    'value-left-offset': 12px,
    'bg-color': getCssVar('bg-color'),
    'border-color': getCssVar('border-color'),
    'title-color': getCssVar('text-color', 'primary'),
    'text-color': getCssVar('text-color', 'secondary'),
    'hover-bg-color': getCssVar('bg-color', 'active'),
    'disabled-bg-color': getCssVar('bg-color', 'disabled'),
    'disabled-border-color': getCssVar('border-color', 'lighter'),
    'disabled-title-color': getCssVar('text-color', 'secondary'),
    'disabled-text-color': getCssVar('text-color', 'disabled'),
  ),
  $cell
);
$cell-font-size: () !default;
$cell-font-size: map.merge(
  (
    '': getCssVar('font-size', 'base'),
    'small': getCssVar('font-size', 'small'),
    'large': getCssVar('font-size', 'base'),
  ),
  $cell-font-size
);

$cell-padding-vertical: () !default;
$cell-padding-vertical: map.merge(
  (
    '': getCssVar('padding-vertical'),
    'small': getCssVar('padding-vertical', 'small'),
    'large': getCssVar('padding-vertical', 'large'),
  ),
  $cell-padding-vertical
);

$cell-padding-horizontal: () !default;
$cell-padding-horizontal: map.merge(
  (
    '': getCssVar('padding-horizontal'),
    'small': getCssVar('padding-horizontal', 'small'),
    'large': getCssVar('padding-horizontal', 'large'),
  ),
  $cell-padding-horizontal
);

// image
$image: () !default;
$image: map.merge(
  (
    'min-title-width': 80px,
    'value-left-offset': 12px,
    'bg-color': getCssVar('bg-color', 'active'),
    'text-color': getCssVar('text-color', 'secondary'),
  ),
  $image
);

// popup
$popup: () !default;
$popup: map.merge(
  (
    'header-height': 112rpx,
    'header-padding': 0 getCssVar('padding-horizontal'),
    'title-color': getCssVar('text-color', 'primary'),
    'close-offset-left': getCssVar('padding-horizontal'),
    'close-offset-right': getCssVar('padding-horizontal'),
    'bg-color': getCssVar('bg-color'),
    'border-radius-center': getCssVar('border-radius', 'base'),
    'border-radius-top': 0 0 getCssVar('border-radius', 'base')
      getCssVar('border-radius', 'base'),
    'border-radius-bottom': getCssVar('border-radius', 'base')
      getCssVar('border-radius', 'base') 0 0,
    'border-radius-left': 0 getCssVar('border-radius', 'base')
      getCssVar('border-radius', 'base') 0,
    'border-radius-right': getCssVar('border-radius', 'base') 0 0
      getCssVar('border-radius', 'base'),
  ),
  $popup
);

// checkbox
$checkbox: () !default;
$checkbox: map.merge(
  (
    'inactive-color': getCssVar('text-color', 'secondary'),
    'active-color': getCssVar('color', 'primary'),
    'disabled-inactive-color': getCssVar('text-color', 'disabled'),
    'disabled-active-color': getCssVar('color', 'primary', 'light-7'),
    'text-color': getCssVar('text-color', 'secondary'),
    'disabled-text-color': getCssVar('text-color', 'disabled'),
    'text-left-offset': 8px,
  ),
  $checkbox
);

// radio
$radio: () !default;
$radio: map.merge(
  (
    'inactive-color': getCssVar('text-color', 'secondary'),
    'active-color': getCssVar('color', 'primary'),
    'disabled-inactive-color': getCssVar('text-color', 'disabled'),
    'disabled-active-color': getCssVar('text-color', 'disabled', 'light-7'),
    'text-color': getCssVar('text-color', 'secondary'),
    'disabled-text-color': getCssVar('text-color', 'disabled'),
    'text-left-offset': 8px,
  ),
  $radio
);

// switch
$switch: () !default;
$switch: map.merge(
  (
    'bg-color': getCssVar('bg-color'),
    'inactive-color': #dcdfe6,
    'active-color': getCssVar('color', 'primary'),
    'disabled-inactive-color': getCssVar('bg-color', 'disabled'),
    'disabled-active-color': getCssVar('color', 'primary', 'light-7'),
    'text-color': getCssVar('bg-color'),
    'text-font-size': 0.6em,
  ),
  $switch
);

// input
$input: () !default;
$input: map.merge(
  (
    'input-height': 40px,
    'textarea-min-height': 80px,
    'bg-color': getCssVar('bg-color'),
    'input-padding': 0 getCssVar('padding-horizontal'),
    'textarea-padding': getCssVar('padding-vertical') 0,
    'border-radius': getCssVar('border-radius', 'base'),
    'text-color': getCssVar('text-color', 'primary'),
    'disabled-text-color': getCssVar('text-color', 'disabled'),
    'text-font-size': getCssVar('font-size'),
    'placeholder-color': getCssVar('text-color', 'placeholder'),
    'icon-color': getCssVar('text-color', 'secondary'),
    'limit-font-size': getCssVar('font-size', 'smaller'),
    'limit-color': getCssVar('text-color', 'secondary'),
  ),
  $input
);

// form-item
$form-item: () !default;
$form-item: map.merge(
  (
    'label-color': getCssVar('text-color', 'regular'),
    'label-width': 80px,
    'required-color': #f00,
    'required-font-size': getCssVar('font-size', 'smaller'),
  ),
  $form-item
);

// search-bar
$search-bar: () !default;
$search-bar: map.merge(
  (
    'height': 40px,
    'bg-color': getCssVar('bg-color', 'active'),
    'border-radius': getCssVar('border-radius', 'base'),
    'mask-text-color': getCssVar('text-color', 'secondary'),
    'mask-padding': 0 getCssVar('input', 'input-padding'),
    'label-text-color': getCssVar('text-color', 'secondary'),
    'action-text-color': getCssVar('text-color', 'secondary'),
  ),
  $search-bar
);

// picker
$picker: () !default;
$picker: map.merge(
  (
    'header-height': 112rpx,
    'header-padding': 0 getCssVar('padding-horizontal'),
    'title-text-color': 0 getCssVar('text-color', 'primary'),
    'confirm-text-color': getCssVar('color', 'primary'),
    'cancel-text-color': getCssVar('text-color', 'secondary'),
  ),
  $picker
);

// picker-column
$picker-column: () !default;
$picker-column: map.merge(
  (
    'text-padding': 0 8rpx,
    'text-color': getCssVar('text-color', 'regular'),
    'text-font-size': getCssVar('font-size', 'small'),
    'active-text-font-size': getCssVar('font-size'),
  ),
  $picker-column
);

// calendar
$calendar: () !default;
$calendar: map.merge(
  (
    'confirm-button-padding': 0 getCssVar('padding-horizontal'),
    'confirm-button-margin': getCssVar('padding-vertical'),
    'header-height': 88rpx,
    'header-bg-color': getCssVar('bg-color'),
    'header-date-padding': 0 getCssVar('padding-horizontal'),
    'header-today-text-color': getCssVar('color', 'primary'),
    'header-today-text-font-size': getCssVar('font-size', 'mini'),
    'week-height': 60rpx,
    'week-bg-color': getCssVar('bg-color'),
    'week-text-font-size': getCssVar('font-size', 'smaller'),
    'body-bg-color': getCssVar('bg-color'),
  ),
  $calendar
);

// calendar-month
$calendar-month: () !default;
$calendar-month: map.merge(
  (
    'height': 54px,
    'col': 7,
    'text-color': getCssVar('text-color', 'primary'),
    'font-size': getCssVar('font-size', 'large'),
    'active-text-color': getCssVar('color', 'white'),
    'active-bg-color': getCssVar('color', 'primary'),
    'middle-bg-color': getCssVar('color', 'primary', 'light-9'),
    'disabled-text-color': getCssVar('text-color', 'disabled'),
    'border-radius': getCssVar('border-radius', 'small'),
    'today-text-color': getCssVar('color', 'primary'),
    'festival-text-color': #f60,
    'solar-text-color': #5f83da,
    'top-text-color': getCssVar('text-color', 'secondary'),
    'top-text-font-size': getCssVar('font-size', 'mini'),
    'bottom-text-color': getCssVar('text-color', 'secondary'),
    'bottom-text-font-size': getCssVar('font-size', 'mini'),
  ),
  $calendar-month
);

// action-sheet
$action-sheet: () !default;
$action-sheet: map.merge(
  (
    'item-height': 104rpx,
    'item-padding': 0 getCssVar('padding-horizontal'),
    'border-radius': getCssVar('border-radius', 'base'),
    'text-color': getCssVar('text-color', 'primary'),
    'text-font-size': getCssVar('font-size', 'base'),
    'active-text-color': getCssVar('color', 'primary'),
    'disabled-text-color': getCssVar('text-color', 'disabled'),
    'cancel-offset-bg-color': getCssVar('bg-color', 'active'),
    'cancel-offset-top': 20rpx,
    'cancel-text-color': getCssVar('text-color', 'secondary'),
    'cancel-hover-bg-color': getCssVar('bg-color', 'hover'),
  ),
  $action-sheet
);

// dialog
$dialog: () !default;
$dialog: map.merge(
  (
    'width': 85vw,
    'border-radius': getCssVar('border-radius', 'small'),
    'header-padding': 48rpx 0 0,
    'header-text-color': getCssVar('text-color', 'primary'),
    'header-text-font-size': getCssVar('font-size', 'base'),
    'body-padding': 56rpx 48rpx,
    'content-text-color': getCssVar('text-color', 'regular'),
    'button-height': 96rpx,
    'button-text-color': getCssVar('text-color', 'primary'),
    'button-text-font-size': getCssVar('font-size', 'base'),
    'button-confirm-text-color': getCssVar('color', 'primary'),
    'button-hover-bg-color': getCssVar('bg-color', 'hover'),
  ),
  $dialog
);

// loading
$loading: () !default;
$loading: map.merge(
  (
    'icon-color': #969799,
    'text-color': getCssVar('text-color', 'secondary'),
    'text-font-size': getCssVar('font-size', 'small'),
    'text-offset-left': 6px,
    'transition-function': linear,
  ),
  $loading
);
