@use 'sass:map';
@use '../mixins/function' as *;

/*
 *  ┌─────────────────────────────────────────────────────────────┐
 *  │┌───┬───┬───┬───┬───┬───┬───┬───┬───┬───┬───┬───┬───┬───┬───┐│
 *  ││Esc│!1 │@2 │#3 │$4 │%5 │^6 │&7 │*8 │(9 │)0 │_- │+= │|\ │`~ ││
 *  │├───┴─┬─┴─┬─┴─┬─┴─┬─┴─┬─┴─┬─┴─┬─┴─┬─┴─┬─┴─┬─┴─┬─┴─┬─┴─┬─┴───┤│
 *  ││ Tab │ Q │ W │ E │ R │ T │ Y │ U │ I │ O │ P │{[ │}] │ BS  ││
 *  │├─────┴┬──┴┬──┴┬──┴┬──┴┬──┴┬──┴┬──┴┬──┴┬──┴┬──┴┬──┴┬──┴─────┤│
 *  ││ Ctrl │ A │ S │ D │ F │ G │ H │ J │ K │ L │: ;│" '│ Enter  ││
 *  │├──────┴─┬─┴─┬─┴─┬─┴─┬─┴─┬─┴─┬─┴─┬─┴─┬─┴─┬─┴─┬─┴─┬─┴────┬───┤│
 *  ││ Shift  │ Z │ X │ C │ V │ B │ N │ M │< ,│> .│? /│Shift │Fn ││
 *  │└─────┬──┴┬──┴──┬┴───┴───┴───┴───┴───┴──┬┴───┴┬──┴┬─────┴───┘│
 *  │      │Fn │ Alt │         Space         │ Alt │Win│          │
 *  │      └───┴─────┴───────────────────────┴─────┴───┘          │
 *  └─────────────────────────────────────────────────────────────┘
 */

// Components
// button
$button: () !default;
$button: map.merge(
  (
    'padding': getCssVar('padding-vertical') getCssVar('padding-horizontal'),
    'border-radius': getCssVar('border-radius', 'small'),
    'bg-color': getCssVar('bg-color'),
    'border-color': getCssVar('border-color'),
    'text-color': getCssVar('text-color', 'primary'),
    'disabled-bg-color': getCssVar('bg-color', 'disabled'),
    'disabled-border-color': getCssVar('border-color', 'lighter'),
    'disabled-text-color': getCssVar('text-color', 'disabled'),
    'active-border-color': getCssVar('border-color', 'light'),
    'active-bg-color': getCssVar('bg-color', 'active'),
  ),
  $button
);

$button-font-size: () !default;
$button-font-size: map.merge(
  (
    '': getCssVar('font-size', 'base'),
    'small': getCssVar('font-size', 'small'),
    'large': getCssVar('font-size', 'base'),
  ),
  $button-font-size
);

$button-padding-vertical: () !default;
$button-padding-vertical: map.merge(
  (
    '': getCssVar('padding-vertical'),
    'small': getCssVar('padding-vertical', 'small'),
    'large': getCssVar('padding-vertical', 'large'),
  ),
  $button-padding-vertical
);

$button-padding-horizontal: () !default;
$button-padding-horizontal: map.merge(
  (
    '': getCssVar('padding-horizontal'),
    'small': getCssVar('padding-horizontal', 'small'),
    'large': getCssVar('padding-horizontal', 'large'),
  ),
  $button-padding-horizontal
);

// cell
$cell: () !default;
$cell: map.merge(
  (
    'min-title-width': 80px,
    'value-left-offset': 12px,
    'bg-color': getCssVar('bg-color'),
    'border-color': getCssVar('border-color'),
    'title-color': getCssVar('text-color', 'primary'),
    'text-color': getCssVar('text-color', 'secondary'),
    'hover-bg-color': getCssVar('bg-color', 'active'),
    'disabled-bg-color': getCssVar('bg-color'),
    'disabled-border-color': getCssVar('border-color', 'lighter'),
    'disabled-title-color': getCssVar('text-color', 'secondary'),
    'disabled-text-color': getCssVar('text-color', 'disabled'),
  ),
  $cell
);
$cell-font-size: () !default;
$cell-font-size: map.merge(
  (
    '': getCssVar('font-size', 'base'),
    'small': getCssVar('font-size', 'small'),
    'large': getCssVar('font-size', 'base'),
  ),
  $cell-font-size
);

$cell-padding-vertical: () !default;
$cell-padding-vertical: map.merge(
  (
    '': getCssVar('padding-vertical'),
    'small': getCssVar('padding-vertical', 'small'),
    'large': getCssVar('padding-vertical', 'large'),
  ),
  $cell-padding-vertical
);

$cell-padding-horizontal: () !default;
$cell-padding-horizontal: map.merge(
  (
    '': getCssVar('padding-horizontal'),
    'small': getCssVar('padding-horizontal', 'small'),
    'large': getCssVar('padding-horizontal', 'large'),
  ),
  $cell-padding-horizontal
);

// image
$image: () !default;
$image: map.merge(
  (
    'min-title-width': 80px,
    'value-left-offset': 12px,
    'bg-color': getCssVar('bg-color', 'active'),
    'text-color': getCssVar('text-color', 'secondary'),
  ),
  $image
);

// popup
$popup: () !default;
$popup: map.merge(
  (
    'max-width': 50vh,
    'min-width': 30vh,
    'max-height': 50vh,
    'mix-height': 30vh,
    'header-height': getCssVar('component-size'),
    'header-padding': 0 getCssVar('padding-horizontal'),
    'title-text-color': getCssVar('text-color', 'primary'),
    'title-text-font-size': getCssVar('font-size', 'base'),
    'close-offset-left': getCssVar('padding-horizontal'),
    'close-offset-right': getCssVar('padding-horizontal'),
    'bg-color': getCssVar('bg-color'),
    'border-radius-center': getCssVar('border-radius', 'base'),
    'border-radius-top': 0 0 getCssVar('border-radius', 'base')
      getCssVar('border-radius', 'base'),
    'border-radius-bottom': getCssVar('border-radius', 'base')
      getCssVar('border-radius', 'base') 0 0,
    'border-radius-left': 0 getCssVar('border-radius', 'base')
      getCssVar('border-radius', 'base') 0,
    'border-radius-right': getCssVar('border-radius', 'base') 0 0
      getCssVar('border-radius', 'base'),
    'z-index': getCssVar('z-index', 'popper'),
  ),
  $popup
);

// checkbox
$checkbox: () !default;
$checkbox: map.merge(
  (
    'inactive-color': getCssVar('text-color', 'secondary'),
    'active-color': getCssVar('color', 'primary'),
    'disabled-inactive-color': getCssVar('text-color', 'disabled'),
    'disabled-active-color': getCssVar('color', 'primary', 'light-7'),
    'text-color': getCssVar('text-color', 'secondary'),
    'disabled-text-color': getCssVar('text-color', 'disabled'),
    'text-left-offset': 8px,
  ),
  $checkbox
);

// radio
$radio: () !default;
$radio: map.merge(
  (
    'inactive-color': getCssVar('text-color', 'secondary'),
    'active-color': getCssVar('color', 'primary'),
    'disabled-inactive-color': getCssVar('text-color', 'disabled'),
    'disabled-active-color': getCssVar('text-color', 'disabled', 'light-7'),
    'text-color': getCssVar('text-color', 'secondary'),
    'disabled-text-color': getCssVar('text-color', 'disabled'),
    'text-left-offset': 8px,
  ),
  $radio
);

// switch
$switch: () !default;
$switch: map.merge(
  (
    'bg-color': getCssVar('bg-color'),
    'inactive-color': #dcdfe6,
    'active-color': getCssVar('color', 'primary'),
    'disabled-inactive-color': getCssVar('bg-color', 'disabled'),
    'disabled-active-color': getCssVar('color', 'primary', 'light-7'),
    'text-color': getCssVar('bg-color'),
    'text-font-size': 0.6em,
  ),
  $switch
);

// input
$input: () !default;
$input: map.merge(
  (
    'input-height': 40px,
    'textarea-min-height': 80px,
    'bg-color': getCssVar('bg-color'),
    'input-padding': 0 getCssVar('padding-horizontal'),
    'textarea-padding': getCssVar('padding-vertical') 0,
    'border-radius': getCssVar('border-radius', 'base'),
    'text-color': getCssVar('text-color', 'primary'),
    'disabled-text-color': getCssVar('text-color', 'disabled'),
    'text-font-size': getCssVar('font-size'),
    'placeholder-color': getCssVar('text-color', 'placeholder'),
    'icon-color': getCssVar('text-color', 'secondary'),
    'limit-font-size': getCssVar('font-size', 'smaller'),
    'limit-color': getCssVar('text-color', 'secondary'),
  ),
  $input
);

// form-item
$form-item: () !default;
$form-item: map.merge(
  (
    'label-color': getCssVar('text-color', 'regular'),
    'label-width': 80px,
    'required-color': #f00,
    'required-font-size': getCssVar('font-size', 'smaller'),
  ),
  $form-item
);

// search-bar
$search-bar: () !default;
$search-bar: map.merge(
  (
    'height': 40px,
    'bg-color': getCssVar('bg-color', 'active'),
    'border-radius': getCssVar('border-radius', 'base'),
    'mask-text-color': getCssVar('text-color', 'secondary'),
    'mask-padding': 0 getCssVar('input', 'input-padding'),
    'label-text-color': getCssVar('text-color', 'secondary'),
    'action-text-color': getCssVar('text-color', 'secondary'),
  ),
  $search-bar
);

// picker
$picker: () !default;
$picker: map.merge(
  (
    'header-height': 112rpx,
    'header-padding': 0 getCssVar('padding-horizontal'),
    'title-text-color': 0 getCssVar('text-color', 'primary'),
    'confirm-text-color': getCssVar('color', 'primary'),
    'cancel-text-color': getCssVar('text-color', 'secondary'),
  ),
  $picker
);

// picker-column
$picker-column: () !default;
$picker-column: map.merge(
  (
    'text-padding': 0 8rpx,
    'text-color': getCssVar('text-color', 'primary'),
    'text-font-size': getCssVar('font-size', 'small'),
    'active-text-font-size': getCssVar('font-size'),
  ),
  $picker-column
);

// calendar
$calendar: () !default;
$calendar: map.merge(
  (
    'confirm-button-padding': 0 getCssVar('padding-horizontal'),
    'confirm-button-margin': getCssVar('padding-vertical'),
    'header-height': 88rpx,
    'header-bg-color': getCssVar('bg-color'),
    'header-date-padding': 0 getCssVar('padding-horizontal'),
    'header-today-text-color': getCssVar('color', 'primary'),
    'header-today-text-font-size': getCssVar('font-size', 'mini'),
    'week-height': 60rpx,
    'week-bg-color': getCssVar('bg-color'),
    'week-text-font-size': getCssVar('font-size', 'smaller'),
    'body-bg-color': getCssVar('bg-color'),
  ),
  $calendar
);

// calendar-month
$calendar-month: () !default;
$calendar-month: map.merge(
  (
    'height': 54px,
    'col': 7,
    'text-color': getCssVar('text-color', 'primary'),
    'font-size': getCssVar('font-size', 'large'),
    'active-text-color': getCssVar('color', 'white'),
    'active-bg-color': getCssVar('color', 'primary'),
    'middle-bg-color': getCssVar('color', 'primary', 'light-9'),
    'disabled-text-color': getCssVar('text-color', 'disabled'),
    'border-radius': getCssVar('border-radius', 'small'),
    'today-text-color': getCssVar('color', 'primary'),
    'festival-text-color': #f60,
    'solar-text-color': #5f83da,
    'top-text-color': getCssVar('text-color', 'secondary'),
    'top-text-font-size': getCssVar('font-size', 'mini'),
    'bottom-text-color': getCssVar('text-color', 'secondary'),
    'bottom-text-font-size': getCssVar('font-size', 'mini'),
  ),
  $calendar-month
);

// action-sheet
$action-sheet: () !default;
$action-sheet: map.merge(
  (
    'item-height': getCssVar('component-size'),
    'item-padding': 0 getCssVar('padding-horizontal'),
    'border-radius': getCssVar('border-radius', 'base'),
    'text-color': getCssVar('text-color', 'primary'),
    'text-font-size': getCssVar('font-size', 'base'),
    'active-text-color': getCssVar('color', 'primary'),
    'disabled-text-color': getCssVar('text-color', 'disabled'),
    'gap-height': 24rpx,
    'gap-bg-color': getCssVar('bg-color', 'active'),
    'cancel-text-color': getCssVar('text-color', 'regular'),
    'cancel-hover-bg-color': getCssVar('bg-color', 'hover'),
  ),
  $action-sheet
);

// dialog
$dialog: () !default;
$dialog: map.merge(
  (
    'width': 85vw,
    'border-radius': getCssVar('border-radius', 'small'),
    'header-padding': 48rpx 0 0,
    'header-text-color': getCssVar('text-color', 'primary'),
    'header-text-font-size': getCssVar('font-size', 'base'),
    'body-padding': 56rpx 48rpx,
    'content-text-color': getCssVar('text-color', 'regular'),
    'button-height': 96rpx,
    'button-text-color': getCssVar('text-color', 'primary'),
    'button-text-font-size': getCssVar('font-size', 'base'),
    'button-confirm-text-color': getCssVar('color', 'primary'),
    'button-hover-bg-color': getCssVar('bg-color', 'hover'),
  ),
  $dialog
);

// dropdown
$dropdown: () !default;
$dropdown: map.merge(
  (
    'height': getCssVar('component-size'),
    'padding': 0 getCssVar('padding-horizontal'),
    'bg-color': getCssVar('bg-color'),
    'menu-text-font-size': getCssVar('font-size', 'base'),
    'menu-text-color': getCssVar('text-color', 'primary'),
    'active-text-color': getCssVar('color', 'primary'),
    'disabled-text-color': getCssVar('disabled', 'text-color'),
    'content-text-font-size': getCssVar('font-size', 'base'),
    'content-text-color': getCssVar('text-color', 'regular'),
    'z-index': getCssVar('z-index', 'top'),
  ),
  $dropdown
);

// loading
$loading: () !default;
$loading: map.merge(
  (
    'icon-color': #969799,
    'text-color': getCssVar('text-color', 'secondary'),
    'text-font-size': getCssVar('font-size', 'small'),
    'text-offset-left': 6px,
    'transition-function': linear,
  ),
  $loading
);

// collapse-item
$collapse-item: () !default;
$collapse-item: map.merge(
  (
    'content-padding': getCssVar('padding-vertical')
      getCssVar('padding-horizontal'),
    'content-bg-color': getCssVar('bg-color'),
  ),
  $collapse-item
);

// empty
$empty: () !default;
$empty: map.merge(
  (
    'padding': getCssVar('padding-vertical') getCssVar('padding-horizontal'),
    'bg-color': getCssVar('bg-color'),
    'text-color': getCssVar('text-color', 'secondary'),
    'text-offset-top': getCssVar('padding-vertical'),
    'text-font-size': getCssVar('font-size', 'small'),
  ),
  $empty
);

// steps
$steps: () !default;
$steps: map.merge(
  (
    'bg-color': getCssVar('bg-color'),
    'active-text-color': getCssVar('color', 'primary'),
    'active-bg-color': getCssVar('color', 'primary'),
    'title-text-color': getCssVar('text-color', 'secondary'),
    'title-text-font-size': getCssVar('font-size', 'smaller'),
    'label-text-color': getCssVar('text-color', 'secondary'),
    'label-text-font-size': getCssVar('font-size', 'smaller'),
    'dot-size': 12rpx,
    'dot-color': getCssVar('border-color'),
    'line-width': 2rpx,
    'line-color': getCssVar('border-color'),
  ),
  $steps
);

// skeleton
$skeleton: () !default;
$skeleton: map.merge(
  (
    'bg-color': #f2f3f5,
    'row-height': 32rpx,
  ),
  $skeleton
);

// progress
$progress: () !default;
$progress: map.merge(
  (
    'stroke-width': 6px,
    'track-bg-color': #ebeef5,
    'active-track-bg-color': getCssVar('color', 'primary'),
    'text-color-inside': getCssVar('color', 'white'),
    'text-color-outside': getCssVar('text-color', 'secondary'),
    'text-font-size': getCssVar('font-size', 'smaller'),
  ),
  $progress
);

// table
$table: () !default;
$table: map.merge(
  (
    'bg-color': getCssVar('bg-color'),
    'active-text-color': getCssVar('color', 'primary'),
    'header-min-height': 40px,
    'header-bg-color': getCssVar('bg-color', 'active'),
    'title-text-color': getCssVar('text-color', 'primary'),
    'title-text-font-size': getCssVar('font-size', 'small'),
    'sub-text-color': getCssVar('text-color', 'secondary'),
    'sub-text-font-size': getCssVar('font-size', 'smaller'),
    'row-min-height': 40px,
    'row-even-bg-color': #fafafa,
    'row-text-color': getCssVar('text-color', 'regular'),
    'row-text-font-size': getCssVar('font-size', 'small'),
  ),
  $table
);

// index-bar
$index-bar: () !default;
$index-bar: map.merge(
  (
    'sidebar-position-right': 8px,
    'sidebar-text-color': getCssVar('text-color', 'primary'),
    'sidebar-text-font-size': getCssVar('font-size', 'small'),
    'sidebar-active-bg-color': getCssVar('bg-color', 'active'),
    'sidebar-active-text-color': getCssVar('color', 'primary'),
    'sticky-padding': getCssVar('padding-vertical')
      getCssVar('padding-horizontal'),
    'sticky-bg-color': getCssVar('bg-color'),
    'sticky-text-color': getCssVar('text-color', 'primary'),
    'z-index': getCssVar('z-index', 'top'),
  ),
  $index-bar
);

// tabs
$tabs: () !default;
$tabs: map.merge(
  (
    'height': getCssVar('component-size'),
    'bg-color': getCssVar('bg-color'),
    'item-min-width': 80px,
    'text-color': getCssVar('text-color', 'primary'),
    'active-text-color': getCssVar('color', 'primary'),
    'text-font-size': getCssVar('font-size', 'small'),
    'bar-width': 26px,
    'bar-height': 2px,
    'bar-bg-color': getCssVar('color', 'primary'),
    'bar-radius': 4rpx,
    'z-index': getCssVar('z-index', 'top'),
  ),
  $tabs
);

// navigation
$navigation: () !default;
$navigation: map.merge(
  (
    'title-width': 60%,
    'title-text-font-size': 17px,
    'z-index': getCssVar('z-index', 'navigation'),
  ),
  $navigation
);

// tab-bar
$tab-bar: () !default;
$tab-bar: map.merge(
  (
    'height': getCssVar('component-size'),
    'box-shadow': getCssVar('box-shadow', 'lighter'),
    'text-color': getCssVar('text-color', 'regular'),
    'text-font-size': getCssVar('font-size', 'smaller'),
    'z-index': getCssVar('z-index', 'navigation'),
  ),
  $tab-bar
);

// progress-bar
$progress-bar: () !default;
$progress-bar: map.merge(
  (
    'height': 4px,
    'bg-color': getCssVar('color', 'success'),
    'z-index': getCssVar('z-index', 'normal'),
  ),
  $progress-bar
);
