.et-ellipsis {
	overflow:hidden;
	text-overflow:ellipsis;
	white-space:nowrap
}
.et-ellipsis--l2,
.et-ellipsis--l3 {
	-webkit-box-orient:vertical;
	display:-webkit-box;
	overflow:hidden;
	text-overflow:ellipsis
}
.et-ellipsis--l2 {
	-webkit-line-clamp:2
}
.et-ellipsis--l3 {
	-webkit-line-clamp:3
}
