@use '../common/var' as *;
@use '../mixins/mixins' as *;
@use '../mixins/var' as *;
@use '../mixins/function' as *;

@include b(checkbox) {
  @include set-preset-css-var('checkbox', $checkbox);
}

@include b(checkbox) {
  display: inline-flex;
  align-items: center;
  user-select: none;

  @include when(block) {
    display: flex;
  }

  @include when(multi-text) {
    align-items: flex-start;
  }

  @include when(horizontal) {
    display: flex;
  }

  @include e(icon) {
    color: getCssVar('checkbox', 'inactive-color');
    @include when(active) {
      color: getCssVar('checkbox', 'active-color');
    }

    @include when(disabled) {
      color: getCssVar('checkbox', 'disabled', 'inactive-color');
    }
  }

  @include e(text) {
    &:not(:empty) {
      margin-left: getCssVar('checkbox', 'text-left-offset');
    }
    @include when(disabled) {
      color: getCssVar('checkbox', 'disabled', 'text-color');
    }
  }
}
