@use '../common/var' as *;
@use '../mixins/mixins' as *;
@use '../mixins/var' as *;
@use '../mixins/function' as *;
@use '../mixins/utils' as *;

// $directions: ttb, btt, ltr, trl, center;

@include b(popup) {
  @include set-preset-css-var('popup', $popup);
}

@include b(popup) {
  $namespace: &;

  display: flex;
  flex-direction: column;

  position: fixed;
  background-color: getCssVar('popup', 'bg-color');
  animation-timing-function: ease;
  animation: ease both;
  z-index: getCssVar('popup', 'z-index');

  @include when(center) {
    top: 50%;
    left: 50%;
    transform: translate3d(-50%, -50%, 0);
    &.is-round {
      border-radius: getCssVar('popup', 'border-radius-center');
    }

    #{$namespace}__body {
      @include when(max-height) {
        max-height: getCssVar('popup', 'max-height');
      }
    }
  }

  @include when(ttb) {
    top: 0;
    left: 0;
    width: 100%;
    &.is-round {
      border-radius: getCssVar('popup', 'border-radius-top');
    }
    &.is-top-safe {
      padding-top: env(safe-area-inset-top);
    }

    #{$namespace}__body {
      @include when(max-height) {
        max-height: getCssVar('popup', 'max-height');
      }
    }
  }
  @include when(btt) {
    left: 0;
    bottom: 0;
    width: 100%;
    &.is-round {
      border-radius: getCssVar('popup', 'border-radius-bottom');
    }
    &.is-bottom-safe {
      padding-bottom: env(safe-area-inset-bottom);
    }

    #{$namespace}__body {
      @include when(max-height) {
        max-height: getCssVar('popup', 'max-height');
      }
    }
  }
  @include when(ltr) {
    top: 0;
    bottom: 0;
    left: 0;
    max-width: getCssVar('popup', 'max-width');
    &.is-round {
      border-radius: getCssVar('popup', 'border-radius-left');
    }
    &.is-top-safe {
      padding-top: env(safe-area-inset-top);
    }
    &.is-bottom-safe {
      padding-bottom: env(safe-area-inset-bottom);
    }
  }
  @include when(rtl) {
    top: 0;
    right: 0;
    bottom: 0;
    max-width: getCssVar('popup', 'max-width');
    &.is-round {
      border-radius: getCssVar('popup', 'border-radius-right');
    }
    &.is-top-safe {
      padding-top: env(safe-area-inset-top);
    }
    &.is-bottom-safe {
      padding-bottom: env(safe-area-inset-bottom);
    }
  }

  @include e(header) {
    @include utils-flex-center;

    position: relative;
    min-height: getCssVar('popup', 'header-height');
    height: getCssVar('popup', 'header-height');
    padding: getCssVar('popup', 'header-padding');
    color: getCssVar('popup', 'title-text-color');
    font-size: getCssVar('popup', 'title-text-font-size');
    text-align: center;
  }

  @include e(close) {
    position: absolute;
    top: 0;
    line-height: getCssVar('popup', 'header-height');
    z-index: 2;

    @include when(left) {
      left: getCssVar('popup', 'close-offset-left');
    }

    @include when(right) {
      right: getCssVar('popup', 'close-offset-right');
    }
  }

  @include e(body) {
    flex: 1;
    overflow-y: auto;
    -webkit-overflow-scrolling: touch;
    overscroll-behavior: none;
  }
}
