/**
* 样式变量
*/
// 主题颜色
$vc-color-primary: #00bcd4;

// 常用颜色
$color-white: #ffffff;
$color-black: #000000;

:export {
  colorPrimary: $vc-color-primary;

  colorWhite: $color-white;
  colorBlack: $color-black;
}
