.demo-body {
  padding: 16px;
  background: #fff;
}
.demo-body2 {
  padding: 0 0 0 16px;
}
.demo-title {
  display: flex;
  align-items: center;
  padding: 12px 16px;
  background: #fff;
  &::before {
    content: '';
    width: 4px;
    height: 20px;
    background: var(--vc-color-primary);
    margin-right: 12px;
  }
}
.demo-row--flex {
  display: flex;
  align-items: center;
}
.demo-item-space {
  margin: 12px 12px 0 0;
}
.demo-content {
  padding: 16px;
}

// van - demo - class
.row {
  display: flex;
  margin-bottom: 12px;
}
.demo-margin-right {
  margin-right: 12px;
}
.demo-margin-bottom {
  display: block;
  margin-bottom: 12px;
}
